.page {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #4D4D4D;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

/* @media screen and (max-width: 1279px) {
  .page {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 28px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding-left: 19px;
    padding-right: 19px;
  }
} */
